<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ourchildrentheirfuture"
    versionCode = "12"
    version     = "1.1.1" >

<!-- versionCode is optional and Android only -->

  <name>OCTF</name>

  <description>
      Education app.
  </description>

  <author href="https://www.argyll-bute.gov.uk" email="website@argyll-bute.gov.uk">
      Lorne MacBrayne
  </author>
  
<icon src="images/res/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
<icon src="images/res/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
<icon src="images/res/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
<icon src="images/res/mipmap-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
<icon src="images/res/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="xxxhdpi" />


    <!-- iPhone / iPod Touch -->
<icon src="images/res/ios/icon.png" platform="ios" width="57" height="57" />
<icon src="images/res/ios/icon@2x.png" platform="ios" width="114" height="114" />

<!-- iPad -->
<icon src="images/res/ios/icon-72.png" platform="ios" width="72" height="72" />
<icon src="images/res/ios/icon-72@2x.png" platform="ios" width="144" height="144" />


    <!-- iPhone 6 / 6+ -->
<icon src="images/res/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="images/res/ios/icon-60.png" platform="ios" width="60" height="60" />
<icon src="images/res/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="images/res/ios/icon-76.png" platform="ios" width="76" height="76" />
<icon src="images/res/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
<icon src="images/res/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

<!-- Settings Icon -->
<icon src="images/res/ios/icon-small.png" platform="ios" width="29" height="29" />
<icon src="images/res/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
<icon src="images/res/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

    
</widget>
